/*
 * Customization Variables
 */

 $href-color: #FF0000;
 $page-background: #003153;
 $text-color: #FFFFFF;

 /*
  * Build Variables, don't touch
  */
 
 $max-width: 700px;
 $med-width: 600px;
 $small-width: 480px;